<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="00:01:38" value="X000138"/>
    <add key="00:03:C9" value="C0030DA"/>
    <add key="00:16:38" value="C0030DA"/>
    <add key="00:03:DA" value="C0030DA"/>
    <add key="00:19:15" value="C0030DA"/>
    <add key="00:1A:2B" value="C001D20"/>
    <add key="00:1D:20" value="C001D20"/>
    <add key="00:60:B3" value="Z001349"/>
    <add key="00:A0:C5" value="Z001349"/>
    <add key="00:13:49" value="Z001349"/>
    <add key="00:02:CF" value="Z0002CF"/>
    <add key="00:19:CB" value="Z0002CF"/>
    <add key="00:1A:2B" value="E001D20"/>
  </appSettings>
</configuration>